{
  "presets":
  [
    [
      "env",
      {
        "targets":
        {
          "node": "current"
        }
      }
    ]
  ],
  "plugins":
  [
    "typecheck",
    "syntax-flow",
    "transform-flow-strip-types"
  ]
}